---
import { Title } from "../Title/Title";
import "../../styles/FadeInAnimation.css";
---

<section class="my-200px w-full">
  <Title title="My Stack" />
  <div
    class="text-primary w-full justify-center md:justify-between gap-[30px] md:gap-0 md:px-[100px] flex flex-wrap appear"
  >
    <i
      class="fa-brands fa-html5 text-[100px] ease-out transition-all hover:scale-125"
    ></i>
    <i
      class="fa-brands fa-css3-alt text-[100px] ease-out transition-all hover:scale-125"
    ></i>
    <i
      class="fa-brands fa-js-square text-[100px] ease-out transition-all hover:scale-125"
    ></i>
    <i
      class="fa-brands fa-react text-[100px] ease-out transition-all hover:scale-125"
    ></i>
    <i
      class="fa-brands fa-node-js text-[100px] ease-out transition-all hover:scale-125"
    ></i>
    <i
      class="fa-brands fa-git-alt text-[100px] ease-out transition-all hover:scale-125"
    ></i>
  </div>
</section>
