---
import "../../styles/FadeInAnimation.css";
---

<section
  id="contact"
  class="flex pt[90px] justify-center mt-[40px] w-full px-[20px] md:px-100px font-FiraCode h-[50vh] bg-primary items-center"
>
  <div class="w-full flex flex-col gap-[30px]">
    <h4 class="text-3xl md:text-5xl fadeIn">
      Let’s Work Together <br />Contact Me.
    </h4>

    <div class="flex flex-col gap-[20px] w-full">
      <a
        href=""
        class="hover:scale-105 ease transition-transform text-xl md:text-4xl text-tertiary"
        ><i class="fa-brands fa-github"></i> Jerucho</a
      >
      <a
        href=""
        class="hover:scale-105 ease transition-transform text-xl md:text-4xl text-tertiary"
        ><i class="fa-brands fa-linkedin"></i> Jeremias Amador</a
      >

      <span
        class="hover:scale-105 ease transition-transform text-xl md:text-4xl text-tertiary"
        ><i class="fa-solid fa-envelope"></i> info@jeremiasamador.com</span
      >
    </div>
  </div>
  <div class="hidden md:inline w-1/4"></div>
</section>
